@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(55, 107, 137);
    min-height: 100vh;  
    font-family: "roboto";
}

a{
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 20px;
    padding-left: 12px;
    color: rgb(0, 0, 0);
    position: absolute;
    margin-top: 187px;
    margin-right: 540px;
}

h1{
    font-size: 55px;
    margin: auto;
    padding: 0px;  
}

.sec{
    background-color: rgb(51, 128, 149);
    width: 70%;
    border-radius: 23px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 100px;
    padding-top: 40px;
    margin-top: 100px;
    margin-bottom: 90px;
}

.div{
    margin-top: 60px;
}

.controle-form{
   /* margin-top: 20px ;*/
   display: flex;
   flex-direction: column;
   padding-left: 80px;
   /* paddi */
} 

input[type=text]{
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    background-color: rgb(192, 243, 255);
    resize: none;
    font-family: 'roboto';
}

input[type=text]:focus {
    background-color: rgb(55, 107, 137);
  }

  .button{   
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: rgb(55, 107, 137);
  color: #000000;
  border-radius: 10px;
  padding: 14px 24px 16px;
  margin-top: 40px;
  margin-left: 130px;
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
  width: 140px;
  transition: transform 200ms,background 200ms;
  }

  .button2{   
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: rgb(55, 107, 137);
    color: #000000;
    border-radius: 10px;
    padding: 14px 24px 16px;
    margin-top: 40px;
    
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
    width: 140px;
    transition: transform 200ms,background 200ms;
    }

  .button:hover{
      transform: translateY(-10px);
  }
  .button2:hover{
      transform: translateY(-10px);
  }
  
  